@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  text-align: center;
}

body {
  background: rgba(133,52,247,1);
background: -moz-linear-gradient(-45deg, rgba(133,52,247,1) 0%, rgba(255,129,3,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(133,52,247,1)), color-stop(100%, rgba(255,129,3,1)));
background: -webkit-linear-gradient(-45deg, rgba(133,52,247,1) 0%, rgba(255,129,3,1) 100%);
background: -o-linear-gradient(-45deg, rgba(133,52,247,1) 0%, rgba(255,129,3,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(133,52,247,1) 0%, rgba(255,129,3,1) 100%);
background: linear-gradient(135deg, rgba(133,52,247,1) 0%, rgba(255,129,3,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8534f7', endColorstr='#ff8103', GradientType=1 );
font-family: 'Roboto', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

video {
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
}

*, :after, :before {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

button {
  overflow: visible;
  border: 0;
  padding: 0;
  margin: 1.8rem;
  position: relative;
  left: 45vw;
  bottom: 50vh;
}

.btn.striped-shadow span {
  display: block;
  position: relative;
  z-index: 2;
  border: 5px solid;
}

.btn.striped-shadow.dark span {
  border-color: #393939;
  background: #2c3e50;
  color: #FFFFFF;
  font-weight: 520;
}

.btn {
  height: 80px;
  line-height: 65px;
  display: inline-block;
  letter-spacing: 1px;
  position: relative;
  font-size: 1.35rem;
  transition: opacity .3s, z-index .3s step-end, -webkit-transform .3s;
  transition: opacity .3s, z-index .3s step-end, transform .3s;
  transition: opacity .3s,
    z-index .3s step-end,
    transform .3s,
    -webkit-transform .3s;
  z-index: 1;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  width: 155px;
  height: 48px;
  line-height: 38px;
}

button.btn.striped-shadow.dark:after, button.btn.striped-shadow.dark:before {
  background-image: linear-gradient(
    135deg,
    transparent 0,
    transparent 5px,
    #393939 5px,
    #393939 10px,
    transparent 10px
  );
}

button.btn.striped-shadow:hover:before {
  max-height: calc(100% - 10px);
}

button.btn.striped-shadow:after {
  width: calc(100% - 4px);
  height: 8px;
  left: -10px;
  bottom: -9px;
  background-size: 15px 8px;
  background-repeat: repeat-x;
}
button.btn.striped-shadow:after, button.btn.striped-shadow:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  transition: max-height .3s, width .3s, -webkit-transform .3s;
  transition: transform .3s, max-height .3s, width .3s;
  transition: transform .3s, max-height .3s, width .3s, -webkit-transform .3s;
}

.btn.striped-shadow:hover {
  -webkit-transform: translate(-12px, 12px);
  -ms-transform: translate(-12px, 12px);
  transform: translate(-12px, 12px);
  z-index: 3;
}

button.btn.striped-shadow:hover:after, button.btn.striped-shadow:hover:before {
  -webkit-transform: translate(12px, -12px);
  -ms-transform: translate(12px, -12px);
  transform: translate(12px, -12px);
}
button.btn.striped-shadow:before {
  width: 8px;
  max-height: calc(100% - 5px);
  height: 100%;
  left: -12px;
  bottom: -5px;
  background-size: 8px 15px;
  background-repeat: repeat-y;
  background-position: 0 100%;
}

canvas {
  margin-left: 40px;
  margin-top: 95px;
  border-style: solid;
  border-radius: 20px;
  border-width: thin;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  left: 960px;
  bottom: 600px;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}

select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.select:hover::after {
  color: #f39c12;
}

h1 {
  color: white;
  position: relative;
  left:960px;
  bottom:580px;
}

.feedback {
  position:relative;
  left: 880px;
  bottom: 500px;
  font-size: 50px;
  width: 500px;
  text-align: center;
}
